<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/">

<wicket:panel>

    <script id="test">

        jQuery(function ($) {
            $('[rel=tooltip]').tooltip()
        });

    </script>

    <style>
        .tooltip {
            z-index: 2000 !important;
        }
    </style>
    <br>
    <br>


    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#" class="btn" wicket:id="postings.copy">
            <wicket:message key="postings.copy"></wicket:message>
        </a>&nbsp;
        <a href="#" class="btn" wicket:id="postings.flip">
            <wicket:message key="postings.flip"></wicket:message>
        </a>&nbsp;
        <a href="#" class="btn" wicket:id="postings.reverse">
            <wicket:message key="postings.reverse"></wicket:message>
        </a>

    <br>
    <br>
    <table class="table table-striped ">
        <tr>
            <th class="span2">
                <wicket:message key="date"></wicket:message>
            </th>
            <th class="span2">
                <wicket:message key="account"></wicket:message>
            </th>
            <th class="span2">
                <wicket:message key="text"></wicket:message>
            </th>
            <th class="span2">
                <wicket:message key="vatType.name"></wicket:message>
            </th>
            <th class="span2" style="text-align: right">
                <wicket:message key="amount"></wicket:message>
            </th>
        </tr>
        <tr wicket:id="postings">
            <td>
                <span wicket:id="date"></span>
            </td>
            <td>
                <span wicket:id="account"></span>
            </td>
            <td>
                <span wicket:id="text"></span>
            </td>
            <td>
                <span wicket:id="vatType.name"></span>
            </td>
            <td style="text-align: right">
                <span wicket:id="amount"></span>
            </td>
        </tr>
    </table>
</wicket:panel>
</html>