<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/">
<head>
    <title></title>
</head>
<body>

<wicket:extend>

    <table class="table table-condensed table-bordered">
        <span wicket:id="FinanceAccountsPage.postings">

            <tr class="headline">
                <th>

                    <span wicket:id="FinanceAccountsPage.accountNumber"></span>
                </th>
                <th colspan="6">
                    <span wicket:id="FinanceAccountsPage.accountName"></span>
                </th>
            </tr>
            <tr>
                <th>
                    <wicket:message key="FinanceAccountsPage.date"></wicket:message>
                </th>
                <th>
                    <wicket:message key="FinanceAccountsPage.bookingNumber"></wicket:message>
                </th>
                <th>
                    <wicket:message key="FinanceAccountsPage.text"></wicket:message>
                </th>
                <th>
                    <wicket:message key="FinanceAccountsPage.vatType.name"></wicket:message>
                </th>
                <th style="text-align: right">
                    <wicket:message key="FinanceAccountsPage.amount"></wicket:message>
                </th>
                <th style="text-align: right">
                    <wicket:message key="FinanceAccountsPage.sum"></wicket:message>
                </th>
                <th style="text-align: right">
                    <wicket:message key="popup.postings"></wicket:message>
                </th>
            </tr>
            <span>
                <tr wicket:id="FinanceAccountsPage.postings">
                    <td>
                        <span wicket:id="FinanceAccountsPage.date"></span>
                    </td>
                    <td>
                        <span wicket:id="FinanceAccountsPage.bookingNumber"></span>
                    </td>
                    <td>
                        <span wicket:id="FinanceAccountsPage.text"></span>
                    </td>
                    <td>
                        <span wicket:id="FinanceAccountsPage.vatType.name"></span>
                    </td>
                    <td style="text-align: right">
                        <span wicket:id="FinanceAccountsPage.amount"></span>
                    </td>
                    <td style="text-align: right">
                        <span wicket:id="FinanceAccountsPage.sum"></span>
                    </td>
                    <td style="text-align: right">
                        <a href="#" wicket:id="FinanceAccountsPage.postings"><i class="icon-list"></i></a>
                    </td>
                </tr>
            </span>
            <tr>
                <td colspan="7"><br></td>
            </tr>
            <tr>
                <td colspan="7" style="border-top-style: none"><br></td>
            </tr>
        </span>
    </table>
</wicket:extend>
</body>
</html>