<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/">
<body>
<wicket:extend>

    <div class="container">
        <div class="row-fluid">
            <div class="span2">

            </div>
            <div class="span10">
                <h1>
                    <wicket:message key="title"></wicket:message>
                </h1>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2">


                <span wicket:id="list" class="nav nav-list">
                    <a class="btn btn-block" wicket:id="link" href="#">
                        <span wicket:id="label"></span>
                    </a>
                </span>


            </div>
            <div class="span10">

                <wicket:child>

                </wicket:child>
            </div>

        </div>
    </div>


</wicket:extend>
</body>
</html>