<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="simpledb" class="com.kikini.logging.simpledb.SimpleDBAppender">
        <domainName>Logging</domainName>
        <accessId>AKIAIOD3ZYDZ7BQY4ZBA</accessId>
        <secretKey>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</secretKey>
    </appender>

    <logger name="dk.eazyit.eazyregnskab.web" level="DEBUG">
    </logger>

    <logger name="dk.eazyit.eazyregnskab.dao" level="DEBUG">
    </logger>

    <logger name="dk.eazyit.eazyregnskab.services" level="DEBUG">
    </logger>

    <logger name="dk.eazyit.eazyregnskab.session" level="DEBUG">
    </logger>

    <logger name="dk.eazyit.eazyregnskab.web" level="DEBUG">
    </logger>

    <logger name="dk.eazyit.eazyregnskab.security" level="WARN">
    </logger>

    <logger name="org.reflections" level="WARN"></logger>

    <logger name="org.apache.wicket" level="WARN"></logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="simpledb"/>
    </root>

</configuration>

